<div class="container">
    <div class="card border-0 shadow">
        <div class="card-header">
            <h4>Lista de usuários</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Apelido</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th scope="row">1</th>
                        <td> Hutemberg</td>
                        <td>Hut</td>
                        <td>(00) 0 0000-0000</td>
                        <td>
                            <button type="button" class="btn border-0">
                <i class="fas fa-edit"></i> </button>
                            <button type="button" class="btn border-0" style="margin-left: 10px">
                <i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
